<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">
            Welcome,
            <span *ngIf="!user">
                stranger!
            </span>
            <span *ngIf="user">
                {{ user.firstName }}!
            </span>
        </h1>

        <p class="lead">
            House money accountant is a web site that helps you to track you money in household between multiple people.
            Users that lives in hostels, dorms, co-living or etc. can benefit the most.
            But if you want to just keep track of money just for you - feel free to use too!
        </p>
    </div>
</div>