<div class="container">
  <div class="breadcrumb d-flex justify-content-between align-items-center">
    <ol class="breadcrumb mb-0 p-0">
      <li class="breadcrumb-item">
        <a routerLink="/houses">
          Houses
        </a>
      </li>
      <li class="breadcrumb-item active">
        <span *ngIf="houseInfo">
          {{ houseInfo.name }}
        </span>

        <div *ngIf="!houseInfo" class="spinner-border spinner-border-sm text-primary" role="status">
          <span class="sr-only">
            Loading...
          </span>
        </div>
      </li>
    </ol>

    <button *ngIf="isUserHouseOwner" (click)="onDeleteOrLeaveClick()" class="btn btn-outline-danger">
      <i class="fas fa-trash"></i>
      Delete
    </button>

    <button *ngIf="!isUserHouseOwner" (click)="onDeleteOrLeaveClick()" class="btn btn-outline-warning">
      <i class="fas fa-door-open"></i>
      Leave
    </button>
  </div>

  <p>house-info works!</p>
</div>