<div class="container">
  <div class="breadcrumb d-flex justify-content-between align-items-center">
    <ol class="breadcrumb mb-0 p-0">
      <li class="breadcrumb-item">
        <a routerLink="/houses">
          Houses
        </a>
      </li>
      <li class="breadcrumb-item active">
        <span *ngIf="houseInfo">
          {{ houseInfo.name }}
        </span>

        <div *ngIf="!houseInfo" class="spinner-border spinner-border-sm text-primary" role="status">
          <span class="sr-only">
            Loading...
          </span>
        </div>
      </li>
    </ol>

    <button *ngIf="isUserHouseOwner" (click)="onDeleteOrLeaveClick()" class="btn btn-outline-danger">
      <i class="fas fa-trash"></i>
      Delete
    </button>

    <button *ngIf="!isUserHouseOwner" (click)="onDeleteOrLeaveClick()" class="btn btn-outline-warning">
      <i class="fas fa-door-open"></i>
      Leave
    </button>
  </div>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#generalInfo" data-toggle="tab" class="nav-link active">
        General info
      </a>
    </li>
    <li class="nav-item">
      <a href="#memebers" data-toggle="tab" class="nav-link">
        Members
      </a>
    </li>
    <li class="nav-item">
      <a href="#transactions" data-toggle="tab" class="nav-link">
        Transactions
      </a>
    </li>
  </ul>

  <br>

  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade show active" id="generalInfo">
      <div *ngIf="!houseInfo" class="text-center">
        <div class="spinner-border spinner-border text-primary" role="status" style="width: 5rem; height: 5rem;">
          <span class="sr-only">
            Loading...
          </span>
        </div>
      </div>

      <app-house-info-general-info *ngIf="houseInfo" [houseInfo]="houseInfo"></app-house-info-general-info>
    </div>

    <div class="tab-pane fade" id="memebers">
      <div *ngIf="!houseInfo" class="text-center">
        <div class="spinner-border spinner-border text-primary" role="status" style="width: 5rem; height: 5rem;">
          <span class="sr-only">
            Loading...
          </span>
        </div>
      </div>

      <app-house-info-members *ngIf="houseInfo" [houseInfo]="houseInfo"></app-house-info-members>
    </div>

    <div class="tab-pane fade" id="transactions">
      <div *ngIf="!houseInfo" class="text-center">
        <div class="spinner-border spinner-border text-primary" role="status" style="width: 5rem; height: 5rem;">
          <span class="sr-only">
            Loading...
          </span>
        </div>
      </div>

      <app-house-info-transactions *ngIf="houseInfo" [houseInfo]="houseInfo"></app-house-info-transactions>
    </div>
  </div>
</div>