<div class="container">
  <div class="alert alert-warning">
    <h4 class="alert-heading">
      Hi, stranger!
    </h4>

    <p>
      We are glad that you decided to use our system,
      but we want to know that some of your personal data will be stored before your registration.
    </p>

    <p>
      We will store your email, first and last names and picture url.
      This will be needed to display house owner and members.
    </p>

    <p>
      For now, not even a byte of your personal data is stored in our servers.
      If you don't want to process - just click "Cancel" button.
      You will be sign out from the system immediately.
    </p>

    <div class="row">
      <div class="col text-left">
        <button type="button" (click)="onRegisterClick()" class="btn btn-primary">
          Register
        </button>
      </div>

      <div class="col text-right">
        <button type="button" (click)="onCancelClick()" class="btn btn-outline-secondary">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>